* {
	font-family: Helvetica;
}

body {
	background-color:black;
}

@font-face {
    font-family: 'code_boldregular';
    src: url('code_bold/code_bold-webfont.eot');
    src: url('code_bold/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_bold/code_bold-webfont.woff2') format('woff2'),
         url('code_bold/code_bold-webfont.woff') format('woff'),
         url('code_bold/code_bold-webfont.ttf') format('truetype'),
         url('code_bold/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#name {
	background-color: white;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

header {
	font-size: 40px;
}

#toplinks {
	word-spacing: 30px;
}

#page {
	background-color: white;
	margin-top: 17px;
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: code_boldregular, Helvetica;
}

a:hover {
	text-decoration: overline;
    color: black;
    font-family: code_boldregular, Helvetica;
}

a:visited {
	text-decoration: none;
    color: black;
    font-family: code_boldregular, Helvetica;
}

/*Home Page Stuff*/
#home_images {
	text-align: center;
}

/*About Page Stuff*/
#about {
	margin-left: 5%;
	width: 50%;
	display:inline-block;
}

#kj_img {
	width: 30%;
	margin-left:auto;
	display: inline-block;
	vertical-align: top;
}


/*Resume stuff*/ 

#resume {
	/*border: solid black 3px;
	border-radius: 3%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px 20px 10px 20px;
}

h3 {
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;

}

h4{
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.resume_content {
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Portfolio Stuff*/

.circle {
	border-radius: 50%;
	border: solid #BDBDBD 1px;
}


.portfolio_images {
	text-align: center;
	display: block;
	margin-left:auto;
	margin-right: auto;
}


.photo_link:hover {
	opacity: 0.6;

}


.column1, .column2, .column3 {
	width:30%;
	text-align: center;
	display:inline-block;	
	padding-bottom: 2em;
	margin-top: 0em;
	vertical-align: top;
}

.column1 {
	margin-left: auto;	
	padding-right: 1em;
}

.column2{
	margin-left: auto;
	margin-right: auto;
}

.column3{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;	
	padding-left: 1em;
}

.title{
	display: block;
	font-size: 1.5em;
}

/*Media Queries */

img {
    max-width: 100%
}


