* {
	font-family: Helvetica;
}

body {
	background-color:white;
}

@font-face {
    font-family: 'code_boldregular';
    src: url('code_bold/code_bold-webfont.eot');
    src: url('code_bold/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_bold/code_bold-webfont.woff2') format('woff2'),
         url('code_bold/code_bold-webfont.woff') format('woff'),
         url('code_bold/code_bold-webfont.ttf') format('truetype'),
         url('code_bold/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar{
	margin-bottom: 0px;
}


#page {
	background-color: white;
	margin-top: 1%;
	margin-right: 8%;
	margin-left: 8%;
	padding-top: 2%;
	padding-bottom: 2%;
}



a:link {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

a:hover {
	text-decoration: overline;
    color: black;
    font-family: Helvetica;
}

a:visited {
	text-decoration: none;
    color: black;
    font-family: Helvetica;
}

/*Home Page Stuff*/

#frontPageName{
	position: relative;
}

#home_images {
	text-align: center;
}

.full {
    background: url('images/meerkat.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/*About Page Stuff*/
#about {
	margin-left: 5%;
	width: 50%;
	display:inline-block;
}

#kj_img {
	width: 30%;
	margin-left:auto;
	display: inline-block;
	vertical-align: top;
}

h2 {
	margin: 0% 5%;
}


/*Resume stuff*/ 

#resume {
	/*border: solid black 3px;
	border-radius: 3%;*/
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 1% 2% 1% 2%;
}

h3 {
	margin-left: 3%;
	margin-top: 0%;
	margin-bottom: 0%;

}

h4{
	margin-left: 3%;
	margin-top: 0%;
	margin-bottom: 0%;
}

.resume_content {
	margin-left: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
}

/*Portfolio Stuff*/

.circle {
	border-radius: 50%;
	border: solid #BDBDBD 1px;
}


.portfolio_images {
	text-align: center;
	display: block;
	margin-left:auto;
	margin-right: auto;
}


.photo_link:hover {
	opacity: 0.6;

}


.column1, .column2, .column3 {
	width:30%;
	text-align: center;
	display:inline-block;	
	padding-bottom: 2em;
	margin-top: 0em;
	vertical-align: top;
}

.column1 {
	margin-left: auto;	
	padding-right: 1em;
}

.column2{
	margin-left: auto;
	margin-right: auto;
}

.column3{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;	
	padding-left: 1em;
}

.title{
	display: block;
	font-size: 1.5em;
}

/*Media Queries */

img {
    max-width: 100%
}


/*iPad or Tablet */
@media only screen and (max-width : 900px) {
 	#kj_img {
    	display: block;
    	margin: 0% auto;
    	width: 60%;
  	}
  	#page {
  		margin: 1% auto;
  		width: 80%;
  	}
  	#about {
  		margin: 0 auto;
  		width:80%;
  		display:block;
  	}
  	#about p {
  		margin: auto;
  		padding: 1%;
  	}
  	h2 {
  		text-align: center;
  	}
  	.portfolio_images{
  		font-size:;
  	}
  	.column1, .column2, .column3 {
  		display:block;
  		margin:0% auto;
  		width:50%;
  	}
  	.resume_content, h3, h4{
  		font-size: .8em;
  	}

}




