/*color scheme: http://www.color-hex.com/color-palette/9173 */

* {
	font-family: Helvetica;
}

body {
	background-color:white;

}

@font-face {
    font-family: 'code_boldregular';
    src: url('code_bold/code_bold-webfont.eot');
    src: url('code_bold/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_bold/code_bold-webfont.woff2') format('woff2'),
         url('code_bold/code_bold-webfont.woff') format('woff'),
         url('code_bold/code_bold-webfont.ttf') format('truetype'),
         url('code_bold/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar {
  background-color: #16a085;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar a {

  color: #e9f0f4;
}
.navbar a:hover {
  color: #2e3641;
  background-color: #e9f0f4;
}

#page {
	background-color: white;
	margin-top: 2%;
	margin-right: 8%;
	margin-left: 8%;
	padding-bottom: 2%;
	display: block;
}

#frontPageNameTitleDiv {
	position: relative;
	top: 12%;
	left: 35%;
  text-align: right;
  width: 50%;
}

#frontPageName {
  font-size: 6em;
  margin: 0px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

#aboutScroll{
  position: relative;
  top: 70%;
  color:white;
}

#frontPageTitle{
  font-size: 2.5em;
  margin: 0px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

}

a:link {
    text-decoration: none;
}

a:hover {
	text-decoration: overline;
}

a:visited {
	text-decoration: none;

}


.image-bg-fluid-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('images/topImg.jpg') no-repeat top left scroll;
    padding: 100px 0;
    height: 450px;
}


.img-center {
	margin: 0 auto;
}


/*About Section Stuff*/
#about {
	margin-left: 5%;
	width: 50%;
	display:inline-block;
}

#kj_img {
	width: 30%;
	margin-left:auto;
	display: inline-block;
	vertical-align: top;
	padding-left: 2%;
}


#resume{
	font-size: 1.5em;
	margin-top: 5%;
}

.lookHere a {
	color:#1abc9c;
}

.lookHere a:hover{
	color:#F1A9A0;
}

/*Portfolio Stuff*/


#portfolio{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}


.columns {
  position:relative;
  width:30%;
	text-align: center;
	display:inline-block;	
	margin-top: 0em;
	vertical-align: top;

}
.columns img {
  position:relative;
  top:0;
  left:0;
  z-index:1
  text-align center;
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 100%;
	padding:0px;
	margin: 0px;
}

.projectTitle {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    font-size: 2.5em;
    color: #9eb2c0;
    text-align: left;
    font-family: 'code_boldregular'
}
.columns:hover > .projectTitle {
    opacity:1;
    width:100%;
    height:100%;
    display:block;
    background:rgba(255, 255, 255, 0.9);
}

/*modal stuff*/

.modal{
  display: none;
  position: fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close{
/*  color: #2e3641;*/
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
/*  color: #2e3641;*/
  text-decoration: none;
}

.projectModalInfo{
  text-align: left;
  display: inline-block;
  width: 40%;
}

.projectModalInfo h3{
  font-size: 1.3em;
  margin: 1%;
  color: #2e3641;
  font-weight: bold;

}

.projectModalInfo p {
  margin-top: 1%;
  margin-left: 3%;

}

#sourceNlive{
  display:inline;
  font-size: 1.3em;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  margin-left: 0px;
}

.projectModalImage img{
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: solid #2e3641 1px;
}

.projectModalImage{
  display: inline-block;
  text-align: center;
  width: 45%;
  margin-left:auto;
  vertical-align: top;
  padding-left: 2%;
}


.title{
	display: block;
	font-size: 3em;
	margin-left: 5%;
	font-family: 'code_boldregular';
  color:#2e3641;
}


#connect{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.icons{
	height: 60px;
	padding-right: 5%;
	vertical-align: text-top;
}

.icons:hover{
	opacity: 0.6;
}

#secondLine{
  display: inline;
}

/*footer*/
footer{
	color: #2e3641;
	background-color:#e9f0f4;
	text-align: center;
	margin-top: 5%;
	padding: 5%;
}

.footerText{
	padding-right: 3%;
}

footer a,
footer a:hover{
  text-decoration: none;
  color:#2e3641;
}

/*Media Queries */

img {
    max-width: 100%
}



/*iPad or Tablet */
@media only screen and (max-width : 900px) {
 	#kj_img {
    	display: block;
    	margin: 0% auto;
    	width: 60%;
  	}
  	#page {
  		margin: 1% auto;
  		width: 80%;
  	}
  	#about {
  		margin: 0 auto;
  		width:80%;
  		display:block;
  	}
  	#about p {
  		margin: auto;
  		padding: 1%;
  	}
  	.title {
  		text-align: left;
  		margin-left: 0%;
  	}

  	.columns {
  		display:block;
  		margin:0% auto;
  		width:100%;
  	}

	  .nav-item {
    	text-align: center;
    }


    #secondLine{
      display: block;
      padding-top: 2%;
    }
    .projectModalInfo{
      display: block;
      width: 100%;
    }
    .projectModalImage{
      width: 100%;
      padding-top:2%;
    }
    .projectTitle{
      font-size: 2.5em;
    }

    #portfolio{
      width: 100%;
    }

    #frontPageNameTitleDiv{
      top: 50%;
      left:0%;
      width: 98%;
    }

    #frontPageTitle{
      font-size:1.5em;
    }

    #frontPageName{
      font-size: 3em;
    }
    #aboutScroll{
      position: relative;
      top: 45%;
      color:white;
}


  }






